# viモード
set editing-mode vi

# モードをカーソルで示す
# https://wiki.archlinux.jp/index.php/Readline
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

# 大文字小文字の区別をなくす
# via http://d.hatena.ne.jp/yuta84q/20081108/1226146144
set completion-ignore-case on

# 履歴補完で前方一致を利用
# via http://d.hatena.ne.jp/yuta84q/20081108/1226146144
"\C-n": history-search-forward
"\C-p": history-search-backward

# delete with ctrl key
"\C-o": kill-line
"\C-l": delete-char
"\C-H": backward-kill-word
